/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/aclocal.m4
/autom4te.cache
/build/config.guess
/build/config.sub
/build/depcomp
/build/install-sh
/build/ltmain.sh
/build/missing
/build/shave
/build/shave-libtool
/config.cache
/config.h
/config.log
/config.lt
/config.status
/config.status.lineno
/configure
/configure.lineno
/libtool
/so_locations
/stamp-h1
/tags
