*~
*.c
*.h
*.lo
*.o
*.valastamp
.deps
.libs
Makefile
Makefile.in
Makefile.vm
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
