/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/Makefile.vm
/TAGS
/_libs
/iko-valacode-generator.c
/ikovalacode.gir
/ikovalacode.h
/ikovalacode.vapi
/libikovalacode.la
/libikovalacode_la.valastamp
/so_locations
/tags
