/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/Makefile.vm
/TAGS
/_libs
/arraylist.c
/collection.c
/collectionobject.c
/gee.gir
/gee.h
/gee.vapi
/hashmap.c
/hashset.c
/iterable.c
/iterator.c
/libgee.la
/libgee_la.valastamp
/list.c
/map.c
/readonlycollection.c
/readonlylist.c
/readonlymap.c
/readonlyset.c
/set.c
/so_locations
/tags
