/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/Makefile.vm
/TAGS
/_libs
/iko-ast-binary-expression.c
/iko-ast-collect-terms.c
/iko-ast-constant.c
/iko-ast-data-symbol.c
/iko-ast-data-type.c
/iko-ast-derivative-method.c
/iko-ast-derivative-solver.c
/iko-ast-expand-terms.c
/iko-ast-expression.c
/iko-ast-float-literal.c
/iko-ast-float-type.c
/iko-ast-generator.c
/iko-ast-independent-variable.c
/iko-ast-integer-literal.c
/iko-ast-level-operators.c
/iko-ast-literal.c
/iko-ast-method-call.c
/iko-ast-method.c
/iko-ast-multi-expression.c
/iko-ast-node.c
/iko-ast-operator.c
/iko-ast-real-type.c
/iko-ast-simple-expression.c
/iko-ast-simplify-rationals.c
/iko-ast-square-root-method.c
/iko-ast-state.c
/iko-ast-symbol-access.c
/iko-ast-symbol.c
/iko-ast-system.c
/iko-ast-transform-negatives.c
/iko-ast-unary-expression.c
/iko-ast-visitor.c
/iko-ast-writer.c
/ikoast.gir
/ikoast.h
/ikoast.vapi
/libikoast.la
/libikoast_la.valastamp
/so_locations
/tags
