/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/Makefile.vm
/TAGS
/_libs
/iko-array-access.c
/iko-array.c
/iko-binary-expression.c
/iko-block.c
/iko-class.c
/iko-context.c
/iko-data-symbol.c
/iko-data-type.c
/iko-derivative-method.c
/iko-equation.c
/iko-expression.c
/iko-field.c
/iko-float-literal.c
/iko-float-type.c
/iko-integer-literal.c
/iko-integer-type.c
/iko-literal.c
/iko-member-access.c
/iko-member-resolver.c
/iko-member.c
/iko-method-call.c
/iko-method.c
/iko-model.c
/iko-namespace.c
/iko-node.c
/iko-parameter.c
/iko-parser.c
/iko-real-type.c
/iko-report.c
/iko-scanner.c
/iko-scope.c
/iko-source-file.c
/iko-source-location.c
/iko-source-reference.c
/iko-square-root-method.c
/iko-statement.c
/iko-symbol.c
/iko-token-info.c
/iko-token-type.c
/iko-type-access.c
/iko-type-resolver.c
/iko-type-symbol.c
/iko-unary-expression.c
/iko-unresolved-member.c
/iko-unresolved-type.c
/iko-visitor.c
/iko-writer.c
/iko.gir
/iko.h
/iko.vapi
/libiko.la
/libiko_la.valastamp
/so_locations
/tags
